body{
    font-size: 16px;
    color: #ffffff;
    background-color: rgb(53, 73, 163);
    padding-top: 70px;
}
#header-nav {
    background-color: #84df5a;
    border-radius: 0;
    border: 0;
    color: #ffffff;
}
#header-container{
    margin-left:0;
}

#navbar-brand {
    padding-top: 25px;
  }
  .navbar-brand h1 { /* Restaurant name */
    color: #000000;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }
  .navbar-brand p { /* Kosher cert */
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
  }
  .navbar-brand p span { /* Star-K */
    vertical-align: middle;
  }
  
  #nav-list {
    margin-top: 10px;
  }
  #nav-list a {
    color: #3a3738;
    text-align: center;
  }
  #nav-list a:hover {
    background: #E7E7E7;
  }
  #nav-list a span {
    font-size: 1.8em;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }
  #our-menu-title{
      text-align:center;
      color: black;
  }
  #tall-box {
    position: relative;
    box-sizing: border-box;
    background-color: #f8f8f8;
    color: black;
    border-radius: 10px;
    opacity: 90%;
    box-shadow: 0px 0px 25px #000395;
    transition: 0.5s;
}